<footer class="footer">
  <div class="grid grid--2fr--1fr">
    <aside class="grid">
      <div class="items">
        <h4>Pages</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/">Product</a></li>
          <li><a routerLink="/">Pricing</a></li>
          <li><a routerLink="/">About</a></li>
          <li><a routerLink="/">Contact</a></li>
        </ul>
      </div>
      <div class="items">
        <h4>Timothy</h4>
        <ul>
          <li><a routerLink="/">Eleanor Edwards</a></li>
          <li><a routerLink="/">Ted Robertson</a></li>
          <li><a routerLink="/">Annette Russell</a></li>
          <li><a routerLink="/">Jennie Mckinney</a></li>
          <li><a routerLink="/">Gloria Richards</a></li>
        </ul>
      </div>
      <div class="items">
        <h4>Jane Black</h4>
        <ul>
          <li><a routerLink="/">Philip Jones</a></li>
          <li><a routerLink="/">Product</a></li>
          <li><a routerLink="/">Colleen Russell</a></li>
          <li><a routerLink="/">Marvin Hawkins</a></li>
          <li><a routerLink="/">Bruce Simmmons</a></li>
        </ul>
      </div>
    </aside>
    <aside>
      <div class="social d-flex align-items-center">
        <a href="#" target="_blank"
          ><ion-icon name="logo-twitter"></ion-icon
        ></a>
        <a href="#" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon
        ></a>
        <a href="#" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon
        ></a>
      </div>
      <label
        >Subscribe to our Newsletter
        <span>Available exclusivery on Figmaland</span></label
      >
      <form>
        <div class="input mb-0">
          <input type="text" placeholder="Your Email" />
        </div>
        <div class="mt-3">
          <button mat-flat-button class="w--auto">Subscribe</button>
        </div>
      </form>
    </aside>
  </div>
</footer>
