<section class="_hero">
  <div class="_center">
    <div class="_capd">
      <h3 class="animate__animated animate__fadeInUp delay-1m">
        At your fingertips
      </h3>
    </div>
    <div class="_capd">
      <h1 class="animate__animated animate__fadeInUp delay-2m">
        Lightning fast prototyping
      </h1>
    </div>
    <div class="_capd">
      <p class="animate__animated animate__fadeInUp delay-3m">
        Most calendars are designed for teams. Slate is designed <br />for
        freelancers
      </p>
    </div>
    <div class="_capd">
      <a
        mat-flat-button
        routerLink="/"
        class="mat-flat-white w--195 animate__animated animate__fadeInUp delay-4m"
        >Try For Free</a
      >
    </div>
    <div class="d-flex align-items-center pt-4 _capd">
      <img
        src="assets/img/macbook.svg"
        alt=""
        class="animate__animated animate__fadeInUp delay-4m"
      />
    </div>
  </div>
</section>
<section class="_section _center">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <h3>At your fingertips</h3>
    <h2>Features</h2>
    <p>
      Most calendars are designed for teams.<br />
      Slate is designed for freelancers
    </p>
  </div>
</section>
<section class="_section">
  <div class="grid grid--gap--75 grid--2fr--1fr">
    <div
      class="mb-flex"
      data-aos="fade-up"
      data-aos-delay="1000"
      data-aos-duration="1000"
    >
      <img src="assets/img/screen.svg" alt="screen" class="sc-1" />
    </div>
    <div class="list-items">
      <div class="item pt-2 mb-5">
        <div class="d-flex align-items-center mb-3">
          <span class="me-2"
            ><img src="assets/img/restaurant-ic.svg" alt=""
          /></span>
          <h3>At your fingertips</h3>
        </div>
        <p>
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </p>
      </div>
      <div class="item pt-2 mb-5">
        <div class="d-flex align-items-center mb-3">
          <span class="me-2"
            ><img src="assets/img/restaurant-ic.svg" alt=""
          /></span>
          <h3>At your fingertips</h3>
        </div>
        <p>
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="_cta-gradient mb-0">
  <div class="_center">
    <h3 data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
      At your fingertips
    </h3>
    <h2
      class="my-3"
      data-aos="fade-up"
      data-aos-delay="1000"
      data-aos-duration="1000"
    >
      Lightning fast prototyping
    </h2>
    <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
      Most calendars are designed for teams. <br />
      Slate is designed for freelancers
    </p>
    <div
      class="d-flex align-items-center justify-content-center pt-5"
      data-aos="fade-up"
      data-aos-delay="1000"
      data-aos-duration="1000"
    >
      <a routerLink="/" mat-flat-button class="mat-flat-white w--124 me-3"
        >Buy now</a
      >
      <a routerLink="/" mat-stroked-button class="mat-stroked-white w--124 me-3"
        >Try for free</a
      >
    </div>
  </div>
</section>
<section class="_section bg-white">
  <div class="grid grid--repeat">
    <div class="mb-res">
      <h3>At your fingertips</h3>
      <h2>Newsletter</h2>
      <p>
        Most calendars are designed for teams. Slate is designed for freelancers
      </p>
    </div>
    <div class="mb-flex">
      <img
        src="assets/img/undraw-illustration.svg"
        alt="illustratration"
        class="sc-1"
      />
    </div>
    <div class="d-flex flex-column _sub-cta">
      <h3>At your fingertips</h3>
      <h2>
        Lightning fast <br />
        prototyping
      </h2>
      <label
        >Subscribe to our Newsletter
        <span>Available exclusivery on Figmaland</span></label
      >
      <form>
        <div class="d-flex align-items-center">
          <div class="input shade m-0 me-3">
            <input type="text" placeholder="Your Email" />
          </div>
          <button mat-flat-button class="w--196">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="_section _center">
  <h2>Partners</h2>
  <p>
    Most calendars are designed for teams. <br />
    Slate is designed for freelancers
  </p>
  <div class="brands d-flex align-items-center justify-content-evenly">
    <span><img src="assets/img/app-store-ic.svg" alt="app-store icon" /></span>
    <span><img src="assets/img/apiary-ic.svg" alt="apiary-icon" /></span>
    <span><img src="assets/img/android-ic.svg" alt="android icon" /></span>
    <span><img src="assets/img/basecamp-ic.svg" alt="basecamp-icon" /></span>
    <span><img src="assets/img/airbnb-ic.svg" alt="airbnb" /></span>
    <span><img src="assets/img/app-store-ic.svg" alt="app-store icon" /></span>
    <span><img src="assets/img/ibm-ic.svg" alt="ibm" /></span>
  </div>
  <div class="d-flex justify-content-center">
    <a mat-flat-button class="w--195">Try For Free</a>
  </div>
</section>
<section class="_section pad-extra">
  <div class="d-flex justify-content-center">
    <h2>Testimonials</h2>
  </div>
  <div class="grid grid--repeat--three mt-5">
    <div
      class="card"
      *ngFor="
        let item of more ? testimonials : (testimonials | slice: 0:6);
        let i = index
      "
    >
      <div class="avatar">
        <img src="assets/img/{{ item.avatar }}.png" alt="avatar" />
      </div>
      <p>
        {{ item.comment }}
      </p>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star outline"></span>
      </div>
      <label
        >{{ item.name }} <span>{{ item.role }}</span></label
      >
    </div>
    <!-- <div class="card">
      <div class="avatar">
        <img src="assets/img/avatar-2.png" alt="avatar" />
      </div>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal for the month and year.
      </p>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star outline"></span>
      </div>
      <label>Regina Miles <span>Designer</span></label>
    </div> -->
    <!-- <div class="card">
      <div class="avatar">
        <img src="assets/img/avatar-3.png" alt="avatar" />
      </div>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal for the month and year.
      </p>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star outline"></span>
      </div>
      <label>Regina Miles <span>Designer</span></label>
    </div>
    <div class="card">
      <div class="avatar">
        <img src="assets/img/avatar-4.png" alt="avatar" />
      </div>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal for the month and year.
      </p>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star outline"></span>
      </div>
      <label>Regina Miles <span>Designer</span></label>
    </div>
    <div class="card">
      <div class="avatar">
        <img src="assets/img/avatar-5.png" alt="avatar" />
      </div>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal for the month and year.
      </p>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star outline"></span>
      </div>
      <label>Regina Miles <span>Designer</span></label>
    </div>
    <div class="card">
      <div class="avatar">
        <img src="assets/img/avatar-6.png" alt="avatar" />
      </div>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal for the month and year.
      </p>
      <div class="stars">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star outline"></span>
      </div>
      <label>Regina Miles <span>Designer</span></label>
    </div> -->
  </div>
  <div class="d-flex justify-content-center my-5 pb-4">
    <button mat-flat-button class="w--195" (click)="more = !more" *ngIf="!more">
      More Testimonials
    </button>
  </div>
</section>
<section class="_section pricing">
  <div class="d-flex justify-content-between">
    <aside>
      <h1>Pricing</h1>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal for the month and year.
      </p>
    </aside>
    <aside>
      <p>30 - DAY FREE TRIAL.</p>
      <h1>$10 <span>/ Month per User</span></h1>
      <p>
        Most calendars are designed for <br />
        teams.
      </p>
      <div class="d-flex mt-5">
        <a routerLink="/" mat-flat-button class="w--195">Get started</a>
      </div>
    </aside>
  </div>
</section>
<section class="_section _center contact">
  <div>
    <h2>Contact Us</h2>
    <p>
      Most calendars are designed for teams.<br />
      Slate is designed for freelancers
    </p>
  </div>
  <div class="d-flex justify-content-center my-5">
    <a href="#" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="#" target="_blank"> <ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#" target="_blank"> <ion-icon name="logo-linkedin"></ion-icon></a>
  </div>
  <div class="map"><img src="assets/img/map.svg" alt="map" /></div>
  <!-- <agm-map [latitude]="lat" [longitude]="lng"></agm-map> -->
  <div class="d-flex justify-content-center contact-line">
    <div class="d-flex align-items-center flex-column">
      <ion-icon name="location"></ion-icon>
      <label class="mt-2"
        >6386 Spring St undefined Anchorage,<br />
        Georgia 12473 United States</label
      >
      <label>&nbsp;</label>
    </div>
    <div class="d-flex align-items-center flex-column">
      <ion-icon src="assets/img/phone.svg"></ion-icon>
      <label class="mt-3">(843) 555-0130</label>
    </div>
    <div class="d-flex align-items-center flex-column">
      <ion-icon name="mail-outline"></ion-icon>
      <label class="mt-2">willie.jennings@example.com</label>
      <label>&nbsp;</label>
    </div>
  </div>
  <div class="card">
    <div class="d-flex-justify-content-center mb-4"><h3>Contact Us</h3></div>
    <form>
      <div class="input shade">
        <input type="text" placeholder="Your Name" />
      </div>
      <div class="input shade">
        <input type="text" placeholder="Your Email" />
      </div>
      <div class="input">
        <textarea name="" placeholder="Your Message"></textarea>
      </div>
      <div class="d-flex mt-3">
        <button type="button" mat-flat-button class="w--196">Send</button>
      </div>
    </form>
  </div>
</section>
